# Python virtualenv
.venv/
.env
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.site/
site/
.DS_Store
*.log
.vscode/
.idea/
node_modules/
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.out
/app/go-zabbix-app
/app/app
zabbix-easy-report.tar.gz
/.venv

venv/
ENV/
.env.d/
teste/
.github/skills/
.github/agents/
