<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ZBX-Easy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="show-login">
    <div class="container full-width">
        <div class="page-header">
            <h1>ZBX-Easy</h1>
        </div>
        <form id="zabbix-form">
            <label for="zabbix_url">URL do Zabbix:</label>
            <input type="text" id="zabbix_url" name="zabbix_url" placeholder="http://zabbix.com ou http://IP" required>
            <label for="zabbix_token">Token de Autenticação:</label>
            <div class="password-wrapper">
                <input type="password" id="zabbix_token" name="zabbix_token" placeholder="Token API" required>
                <span id="toggle-token" class="toggle-eye" tabindex="0" aria-label="Mostrar/Ocultar token">
                    <svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"/><path d="M2 12s4-7 10-7 10 7 10 7-4 7-10 7-10-7-10-7z"/></svg>
                </span>
            </div>
            <button type="submit">Gerar Relatório</button>
        </form>
        <div id="progress-bar" class="progress-bar" style="display:none;">
            <div class="progress"></div>
            <span id="progress-text">Gerando relatório...</span>
        </div>
        <div id="report-area" class="report-area" style="display:none;"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
